<style media="screen" type="text/css">
   body {
       font-family: 'Palatino', serif;
       font-size: 15px;
       color: #000;
   }

   a {
       color: #004B6B;
   }

   a:hover {
       color: #6D4100;
   }

   .box {
       width: 540px;
       margin: 40px auto;
   }

   h2, h3, h4 {
       font-family: 'Palatino', 'Georgia', serif;
       font-weight: normal;
   }

   h6, h7, h8 {
       font-family: 'Palatino', 'Georgia', serif;
       font-weight: bold;
   }

   h1 {
       margin: 0 0 30px 0;
       height: 35px;
   }

   h1 span {
       display: none;
   }

   h2 {
       font-size: 30px;
       margin: 15px 0 5px 0;
   }

   h3 {
       font-size: 18px;
       margin: 15px 0 5px 0;
   }

   h4 {
       font-size: 16px;
       margin: 15px 0 5px 0;
   }

   h5 {
       font-size: 19px;
       margin: 15px 0 5px 0;
       font-family: "Times New Roman", Georgia, Serif;
       font-weight: normal;
   }

   h6 {
       font-size: 24px;
       margin: 15px 0 5px 0;
   }

   h7 {
       font-size: 12px;
       margin: 15px 0 5px 0;
   }

   h8 {
       font-size: 18px;
       margin: 15px 0 5px 0;
   }

   textarea, code,
   pre {
       font-family: 'Monaco', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
       font-size: 16px;
       background: #eee;
       overflow-x: scroll;
   }

   pre {
       padding: 7px 30px;
       margin: 15px -30px;
       line-height: 1.3;
   }

   .ig {
       color: #888;
   }

   p {
       line-height: 1.4;
       font-size: 16px;
       font-family: "Times New Roman", Georgia, Serif;
   }

   ul {
       margin: 15px 0 15px 0;
       padding: 0;
       list-style: none;
       line-height: 1.4;
   }

   ul li:before {
       content: "\00BB \0020";
       color: #888;
       position: absolute;
       margin-left: -19px;
   }

   ol {
       line-height: 1.4;
       margin: 15px 0 15px 30px;
       padding: 0;
   }

   table.table1,table.table1 th,table.table1 td{

   }

   table.table2,table.table2 th,table.table2 td{
        border: 1px solid black;
   }
</style>
<center><h6>NETWORK SHAPING AND TELEMETRY WITH MACHINE LEARNING</h6></center>
<center><h7>version 1.0</h7></center>
<center><h8>Cloud Computing-CSE546</h8></center>
<body>
<!--
<table>
{% for row in planner.rows %}
<tr>
<td>{{ row[0] }}</td>
<td>{{row[1]}}</td>
</tr>
{% endfor %}
</table>
<br/>
<table>
{% for row in planner.predictedrows %}
<tr>
<td>{{ row[0] }}</td>
<td>{{row[1]}}</td>
</tr>
{% endfor %}
</table>
-->
</body>
